@model TesteTJJUD.Models.Assunto

@{
    ViewBag.Title = "Excluir Assunto";
}

<h2>Excluir Assunto</h2>

@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}

<div>
    <hr />
    <h4>Tem certeza que deseja excluir este livro?</h4>
    @using (Html.BeginForm("Delete", "Assunto", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" value="@Model.CodAs" />
        <input type="submit" value="Excluir" class="btn btn-danger" />
        @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
    }
</div>
