@model TesteTJJUD.Models.Assunto

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm())
{
    <div>
        <label>Descrição</label>
        @Html.TextBoxFor(model => model.Descricao, new { @class = "form-control", @maxlength = "20" })
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
}