@{
    ViewBag.Title = "Contato";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        São Vicente,Sp<br />
                
        Celular: 13 98107-2429
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">viniciussmoreira@gmail.com</a><br />        
    </address>
</main>