@model TesteTJJUD.Models.Autor

@{
    ViewBag.Title = "Excluir Autor";
}

<h2>Excluir Autor</h2>

@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}

<div>
    <h4>Livro</h4>
    <hr />
   
    <h4>Tem certeza que deseja excluir este livro?</h4>
    @using (Html.BeginForm("Delete", "Autor", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" value="@Model.CodAu" />
        <input type="submit" value="Excluir" class="btn btn-danger" />
        @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })        
    }
</div>
